<div class="container">
<div class="row">
<div class="col-6">
    <br>
    <br>
    <center>
    <h3>HOW TO MANAGE ACCOUNTS?</h3>
    </center>
    <br>
    <br>
    <img src="https://i.imgur.com/HnlYKxv.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Go to the "Accounts" tab above.</h6>
    <br>
    <br>
    <br>
    <img src="https://i.imgur.com/P6Ze3pt.png" hspace="10px" style="float:left;"> 
    <h6>Select which type of account, by either choosing Student or Teacher in the dropdown menu or clicking the "Manage Students" or "Manage Teachers" button below. </h6>
    <br>
    <br>
    <img src="https://i.imgur.com/EA0ySzP.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Now in the students accounts page, you can create, edit or deactivate accounts.</h6>
    <br>
    <br>
    <img src="https://i.imgur.com/5890Oyn.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>While in the teachers accounts page, you can create, edit or delete accounts.</h6>
    <br>
    <br>
     <div style="position:relative; margin-bottom:10%; margin-left:60%;">
        <%= link_to "Manage Teachers", teachers_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div style="position:relative; bottom:13%; margin-left:20%;">
        <%= link_to "Manage Students", students_path, class: "btn btn-primary btn-lg" %>
    </div>
             
</div>
<div class="col-6">
    <br>
    <br>
    <center>
    <h3>HOW TO MANAGE WORKSHEETS?</h3>
    </center>
    <br>
    <br>
    <img src="https://i.imgur.com/HnlYKxv.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Go to the "Worksheets" tab above or click the "Answer Worksheets" button below.</h6>
    <br>
    <br>
    <img src="https://i.imgur.com/P6Ze3pt.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Choose your year level by clicking the "Select" button beside your year level.</h6>
    <br>
    <br>
    <img src="https://i.imgur.com/EA0ySzP.png" hspace="10px" style="float:left;"> 
    <h6>Choose the topic of the worksheet you will create by clicking the "Select" button beside it. If the topic your worksheet falls under is not yet existent, you can create a new topic by clicking the "Create Topic" button.</h6>
    <br>
    <img src="https://i.imgur.com/5890Oyn.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>You can now Edit and Delete any created worksheet or Create new worksheets on the worksheet page.</h6>
    <br>
    <br>
    <div class="button">
        <%= link_to "Manage Worksheets", yearlevels_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>


</div>
</div>
            
            