<table class="table table-hover">
    <thead>
        <th>Year Level</th>
        <th>Topics</th>
        <th colspan="3"></th>
    </thead>
    <tbody>
        <td><em> Topic 1 </em> </td>
        <td><em> Topic </em> </td>
        <td>
            <em> button to go to topic's worksheets <em> 
        </td>
    </tbody>
    <tbody>
        <td><em> Topic 2 </em> </td>
        <td><em> Topic </em> </td>
        <td>
            <em> button to go to topic's worksheets <em> 
        </td>
    </tbody>
    <tbody>
        <td><em> Topic 3 </em> </td>
        <td><em> Topic </em> </td>
        <td>
            <em> button to go to topic's worksheets <em> 
        </td>
    </tbody>
    <tbody>
        <td><em> Topic 4 </em> </td>
        <td><em> Topic </em> </td>
        <td>
            <em> button to go to topic's worksheets <em>  
        </td>
    </tbody>
    <tbody>
        <td><em> Topic 5 </em> </td>
        <td><em> Topic </em> </td>
        <td>
            <em> button to go to topic's worksheets <em>  
        </td>
    </tbody>
</table>