<% 
=begin %>
<% if @worksheet.blank? %>
<br>
<br>
    <small>
        <em>No worksheets have been made yet.</em>
    </small>
<% else %>
<% 
=end %>
    <table class="table table-hover">
        <thead>
            <th>Year Level</th>
            <th>Topics</th>
            <th colspan="3"></th>
        </thead>
        <tbody>
            <td><em> Grade 1 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 2 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 3 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 4 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 5 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 6 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 7 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 8 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 9 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 10 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 11 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
        <tbody>
            <td><em> Grade 12 </em> </td>
            <td><em> Topic </em> </td>
            <td>
                <em> button to go to year level's topics <em> 
            </td>
        </tbody>
    </table>
<% 
=begin %>
<% end %>
<% 
=end %>