

<div class="container body">
<div class="row">
<div class="col-6">
    <br>
    <br>
<center>
    <h3>WELCOME TO KINETIC MATH</h3>
    <br>
    <br>
    <img src="https://i.imgur.com/t9GSmYd.png"> &nbsp
    <img src="https://i.imgur.com/1ruEnJU.png"> &nbsp
    <img src="https://i.imgur.com/K2fAlIi.png"> &nbsp
    <br>
    <br>
    <br>
    <p class="splash">
               Kinetic Math is your TRUE Math Enrichment center. 
        It offers energizing and engaging learning activities which help students develop
        numberical fluency, creativity, critical thinking and problem solving skills while enjoying math.
        <br>
        <br>
               The program's progression from a learning task to guided practice
        to independent practice not only boosts the child's confidence and
        fosters the child's interest in Math but also enables the child to develop a 
        deeper understanding of Math.
    </p>
</center>
</div>
<div class="col-6">
    <br>
    <br>
    <center>
    <h3>HOW TO ANSWER WORKSHEETS?</h3>
    </center>
    <br>
    <br>
    <img src="https://i.imgur.com/wCqzOy9.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Go to the "Worksheets" tab above or click the "Answer Worksheets" button below.</h6>
    <br>
    <br>
    <img src="https://i.imgur.com/TtEBdaW.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Choose your year level by clicking the "Select" button beside your year level.</h6>
    <br>
    <br>
    <img src="https://i.imgur.com/kMtPQyH.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Choose the topic of the worksheet you want to answer by clicking the "Select" button beside your wanted topic.</h6>
    <br>
    <br>
    <img src="https://i.imgur.com/Dfg77TB.png" hspace="10px" style="float:left;"> 
    <br>
    <h6>Click the "Select" button beside the worksheet you want to answer.</h6>
    <br>
    <br>
    <div class="button">
    <%= link_to "Answer Worksheets", yearlevels_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>


</div>
</div>  