<h1>Welcome to the Kinetic Math Worksheet System!</h1>
<hr>
<h3>Sign in as:</h3>
<br>
        <%= link_to "Student", new_student_session_path, class: "btn btn-primary btn-lg" %>
<br>
        <%= link_to "Teacher", new_teacher_session_path, class: "btn btn-primary btn-lg" %>
<br>
        <%= link_to "Admin", new_admin_session_path, class: "btn btn-primary btn-lg" %>