<center>
<br>
  <h1>Welcome to the Kinetic Math Worksheet System!</h1>
<hr>
<br>
<h3>LOG IN TO YOUR ACCOUNT AS</h3>
<br>
<table width ="50%">
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td> 
    <a href= "https://mcezkineticmath-zacharypangan.c9users.io/teachers/sign_in"> <img src ="https://i.imgur.com/6BSVoo8.png"></a>
    </td>
    <td>
    <a href= "https://mcezkineticmath-zacharypangan.c9users.io/students/sign_in"> <img src ="https://i.imgur.com/hFSxy0O.png"></a>
    </td>
    <td>
    <a href= "https://mcezkineticmath-zacharypangan.c9users.io/admins/sign_in"> <img src ="https://i.imgur.com/mV2QtVw.png"></a>
    </td>
  </tr>
</table>
</center>
