<div class="container body">
  <br>
    <h1 class="text-center">Welcome to the Kinetic Math Worksheet System!</h1>
  <hr>
  <br>
  <h3 class="text-center">LOG IN TO YOUR ACCOUNT AS</h3>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to new_teacher_session_path, method: :get do %>
        <img src ="https://i.imgur.com/6BSVoo8.png">
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to new_student_session_path, method: :get do %>
        <img src ="https://i.imgur.com/hFSxy0O.png">
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to new_admin_session_path, method: :get do %>
        <img src ="https://i.imgur.com/mV2QtVw.png">
      <% end %>
    </div>
  </div>
</div>
