<ol class="arrows">
	<li><%= link_to "Home", root_path, method: :get%></li>
	<li><%= link_to "Year Level", yearlevels_path, method: :get%></li>
	<!-- <li><%#link_to "Topic", topics_path, method: :get%></li>
	<li><%#link_to "Worksheet", worksheets_path, method: :get%></li>
	<li><a href="https://mcezkineticmath-zacharypangan.c9users.io/">Home</i></a></li>
	<li><a href="https://mcezkineticmath-zacharypangan.c9users.io/yearlevels">Year Level</a></li>
	<li><a href="https://mcezkineticmath-zacharypangan.c9users.io/topics">Topic</a></li>
	<li><a href="https://mcezkineticmath-zacharypangan.c9users.io/worksheets">Worksheet</a></li> -->
</ol>